* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#body {
  height: 95vh;
  overflow-y: auto;
}

#quotesForm * {
  height: unset;
}

.loader {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: -webkit-fill-available;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg, blue calc(50% + 0.5ch), #000 0)
    right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}
.loader:before {
  content: "Agappe";
}
@keyframes l7 {
  to {
    background-position: left;
  }
}

#loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  min-width: 160px;
}

.fs-7 {
  font-size: 0.8rem !important;
}
